<form [formGroup]="signupForm" class="signup-body" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" autocomplete="username" formControlName="username" required>
      <mat-error *ngIf="signupForm.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" autocomplete="email" formControlName="email" required>
      <mat-error *ngIf="signupForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" autocomplete="new-password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="signupForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm Password" autocomplete="new-password" formControlName="cpass" [type]="hidecpass ? 'password' : 'text'" [errorStateMatcher]="matcher">
      <mat-icon matSuffix (click)="hidecpass = !hidecpass">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="signupForm.hasError('notSame')">Passwords don't match</mat-error>
    </mat-form-field>
    <button mat-button type="submit" [disabled]='signupForm.invalid'>SUBMIT</button>
</form>
