.example-card{
    display: flex;
    flex-direction: column;
    padding:30px;
}

.example-card > * {
    width: 100%;
}

.mkcontent > * img {
    display: block;
    max-width: fit-content;
    max-width: -moz-available;          /* WebKit-based browsers will ignore this. */
    max-width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: auto;
}