.comment-card{
    display: flex;
    flex-direction: column;
    padding:30px;
}

.comment-card > * {
    width: 100%;
}

.comment-card > img{
    display: block;
    max-width: -moz-available;          /* WebKit-based browsers will ignore this. */
    max-width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    max-width: fit-content;
    width: auto;
    height: auto;
}